


/*

* {
    background-image: none;
    font-size: 16px;
}
@import "$HOME/.config/waybar/mocha.css";

window {
    background-color: rgba(x, x, x, 0.5);
}

button {
    color: #bac2de;
    background-color: #45475a;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: #74c7ec;
    background-size: 30%;
}

button:hover {
    background-color: #89b4fa;
    background-size: 40%;
    border-radius: 0px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock_${BtnCol}.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    background-color: #fab387;
    border-radius: 0px;
    margin : 0px;
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout_${BtnCol}.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    background-color: #eba0ac;
    border-radius: 0px;
    margin : 0px;
}

#suspend {
    background-image: image(url("$HOME/.config/wlogout/icons/suspend_${BtnCol}.png"), url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    background-color: #f38ba8;
    border-radius: 0px;
    margin : 0px;
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown_${BtnCol}.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    background-color: #cba6f7;
    border-radius: 0px;
    margin: 0px;
}

#hibernate {
    background-image: image(url("$HOME/.config/wlogout/icons/hibernate_${BtnCol}.png"), url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
    background-color: #f5c2e7;
    border-radius: 0px;
    margin: 0px;
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot_${BtnCol}.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    background-color: #f2cdcd;
    border-radius: 0px;
    margin: 0px;
}
    /*