/*
*
* ██     ██  █████  ██    ██ ██████   █████  ██████  
* ██     ██ ██   ██  ██  ██  ██   ██ ██   ██ ██   ██ 
* ██  █  ██ ███████   ████   ██████  ███████ ██████  
* ██ ███ ██ ██   ██    ██    ██   ██ ██   ██ ██   ██ 
*  ███ ███  ██   ██    ██    ██████  ██   ██ ██   ██
*
*/

@import "gruvbox.css";

* {
  font-family: MesloLGS Nerd Font;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-color: @bg0;
  color: @fg2;
  margin: 5px 5px;
  padding: 2px 5px;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: @fg1;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  color: @yellow;
  border-top: 2px solid @yellow;
}

#workspaces button.active {
  color: @yellow;
  border-top: 2px solid @yellow; /*You can adjust the border color as needed */
}

#workspaces button.inactive {
  color:@aqua;
}

#workspaces {
  margin-right: 10px;
}

#workspaces button.current_input {
  background: @yellow;
  color:@green;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#mode,
#scratchpad {
  margin: 2px 6px;
  padding-left: 4px;
  padding-right: 4px;
}


#idle_inhibitor {
  color: @yellow;
  border-top: 2px solid @yellow;
}

#idle_inhibitor.activated {
  color: @green;
  border-top: 2px solid @green;
}


#pulseaudio,
#network,
#cpu,
#memory,
#clock {
  color: @yellow;
  border-top: 2px solid @yellow;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}
