@import "mocha.css";

* {
  font-family: MesloLGS Nerd Font;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-color: @surface0;
  color: @subtext0;
  margin: 5px 5px;
  padding: 2px 5px;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: @text;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  color: @flamingo;
  border-top: 2px solid @flamingo;
}

#workspaces button.active {
  color: @yellow;
  border-top: 2px solid yellow; /*You can adjust the border color as needed */
}

#workspaces button.inactive {
  color:@green;
}

#workspaces {
  margin-right: 10px;
}

#workspaces button.current_input {
  background: @flamingo;
  color:@green;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#mode,
#scratchpad {
  margin: 2px 6px;
  padding-left: 4px;
  padding-right: 4px;
}


#idle_inhibitor {
  color: @yellow;
  border-bottom: 2px solid @yellow;
}

#idle_inhibitor.activated {
  color: @green;
  border-bottom: 2px solid @green;
}


#pulseaudio {
  color: @teal;
  border-bottom: 2px solid @teal;
}


#network {
  color: @red;
  border-bottom: 2px solid @red;
}

#cpu {
  color: @mauve;
  border-bottom: 2px solid @mauve;
}

#memory {
  color: @pink;
  border-bottom: 2px solid @pink;
}

#clock {
  color: @flamingo;
  border-bottom: 2px solid @flamingo;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}
